<!DOCTYPE HTML>
<html>
<head>
    <title>London Events</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Get the list of Events related to science <a href="/events">here</a></p>
    
    <p>You can search for below categories</p>
    <ul>
		<li><th> <a href="/events?category=learning_education">learning_education</a> </th></li>
		<li><th> <a href="/events?category=music">music</a> </th></li>
		<li><th> <a href="/events?category=comedy">comedy</a> </th></li>
		<li><th> <a href="/events?category=clubs_associations">clubs_associations</a> </th></li>
		<li><th> <a href="/events?category=attractions">attractions</a> </th></li>
		<li><th> <a href="/events?category=conference">conference</a> </th></li>
		<li><th> <a href="/events?category=singles_social">singles_social</a> </th></li>
		<li><th> <a href="/events?category=food">food</a> </th></li>
		<li><th> <a href="/events?category=movies_film">movies_film</a> </th></li>
		<li><th> <a href="/events?category=books">books</a> </th></li>
		<li><th> <a href="/events?category=technology">technology</a> </th></li>
		<li><th> <a href="/events?category=sales">sales</a> </th></li>
		<li><th> <a href="/events?category=animals">animals</a> </th></li>
		<li><th> <a href="/events?category=sports">sports</a> </th></li>
	</ul>
</body>
</html>